$containers: (
  xs: 100%,
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

$breakpoints: (
  xs: (max: 575.98px),
  sm: (min: 576px, max: 767.98px),
  md: (min: 768px, max: 991.98px),
  lg: (min: 992px, max: 1199.98px),
  xl: (min: 1200px, max: 1399.98px),
  xxl: (min: 1400px),
);

$font-sizes: (
  xs: 12px,
  sm: 13px,
  md: 14px,
  lg: 16px,
  xl: 16px,
  xxl: 16px
);

$dark: #232323;
$light: #f8f8f8;
$red: #b9090b;
